<mat-card>
    <div>
        <button routerLink="/partner/addDish" class="m-3 float-end" mat-raised-button>Add dish</button>
    </div>

    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;let i=index"> {{i+(pageNo*limit-limit+1)}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container class="none" matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Product logo </th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" alt=""> </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="dishName">
            <th mat-header-cell *matHeaderCellDef>Dish Name</th>
            <td mat-cell *matCellDef="let element"> {{element.dishName}} </td>
        </ng-container>
        `

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> <button mat-flat-button [routerLink]="['/partner/viewDish/',element._id]"
                    color="primary">
                    View Dish
                </button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item "><a class="page-link">Items per page</a></li>
            <li class="page-item "><a class="page-link">
               
                    <mat-select>
                        <mat-option [value]="true">
                            Veg
                        </mat-option>
                        <mat-option [value]="false">
                            Non-Veg
                        </mat-option>
                    </mat-select>
            </a></li>
            <li class="page-item ">
                <a class="page-link" (click)="changePage(-1)" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item disabled"><a class="page-link">{{pageNo}}</a></li>
            <li class="page-item">
                <a class="page-link" (click)="changePage(+1)">Next</a>
            </li>
        </ul>
    </nav>
</mat-card>