<div fxLayout="row">
    <div class="side"  fxShow="true" fxHide.lt-md="true" *ngIf="side">
        <div class="fix">
            <mat-toolbar class="logo">
                <span routerLink="/admin" class="img"></span>
            </mat-toolbar>
            <div >
                <ul>
                    <li ><button class="btn" routerLink="/admin" mat-button><mat-icon>dashboard</mat-icon> Onboard panel</button></li>
                    <li ><button class="btn"  mat-button><mat-icon>store</mat-icon> Partner management</button></li>
                    <li ><button class="btn"  mat-button><mat-icon>people</mat-icon> User management</button></li>
                    <li ><button class="btn"  mat-button><mat-icon>local_offer</mat-icon> Offers</button></li>
                    <li ><button class="btn"  mat-button><mat-icon>support</mat-icon> Help</button></li>
                  
                </ul>
            </div>
        </div>
        
    </div>
    <div class="pannel">
        <mat-toolbar class="partner-Toolbar fix">
            <div >
                <button mat-icon-button fxShow="true" fxHide.lt-md="true" (click)="side=!side"><mat-icon>menu</mat-icon></button>
            </div>
            <div >
                <button mat-icon-button fxShow="true" fxHide.gt-sm="true" (click)="side1=!side1"><mat-icon>menu</mat-icon></button>
            </div>
            <h1>{{title}}</h1><mat-icon class="mx-2">dashboard</mat-icon>
            <span class="spacer"></span>
           <div> <button mat-icon-button><mat-icon>notifications</mat-icon></button></div>
        </mat-toolbar>
        <div class="pos">
            <div class="content-body">
                <router-outlet></router-outlet>
            </div>
           
        </div>
        
    </div>    
</div>
<div class="container-fluid footer">
    <div class="partnerLogo mb-4"></div>
    <div>
        <ul class="nav terms">
          <div class="nav-item">
            <a routerLink="/partnerVerify" class="nav-link">Become a Partner</a>
          </div>
            <li class="nav-item">
              <a class="nav-link ">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms and condition</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">© 2022 wolits Inc.</a>
            </li>
          </ul>
    </div>  
</div>
<div class="responsive-side" fxShow="true" fxHide.gt-sm="true" *ngIf="side1" >
    <mat-toolbar class="logo "> 
        <span class="img "></span>
        <button mat-icon-button class="ms-3 cls" (click)="side1=!side1"><mat-icon>close</mat-icon></button>
    </mat-toolbar>
    <div>
        <ul>
            <li ><button class="btn" mat-button><mat-icon>dashboard</mat-icon> Onboard panel</button></li>
            <li ><button class="btn" mat-button><mat-icon>store</mat-icon> Partner management</button></li>
            <li ><button class="btn" mat-button><mat-icon>people</mat-icon> User management</button></li>
            <li ><button class="btn" mat-button><mat-icon>local_offer</mat-icon> Offers</button></li>
            <li ><button class="btn" mat-button><mat-icon>support</mat-icon> Help</button></li>
          
        </ul>
    </div>
</div>



