.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    padding-left: 50px;
    background-color: black;
    font-size: 1rem;
}
.logo{
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url("../../../assets/images/Logo-white.png");
    left: 0;
    top: 15px;
    width:10em;
    height: 3em;
}

.partnerLogo{
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url("../../../assets/images/partnerLogoWhite.png");
    left: 0;
    top: 15px;
    width:9em;
    height: 3em;
}
mat-icon{
    position: relative;
    top: 15px;
    left: 150px;
    color:white;
}
.terms{
    float: right;
}

a{
    color: white;
}

@media (max-width:460px) {
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        height: 14rem;
        width: 100%;
        padding-left: 50px;
        background-color: black;
        font-size: 1rem;
    }
}