<div class="container-fluid footer">
    <div class="logo"></div>
    <mat-icon fontIcon="facebook">
    </mat-icon>
    <div>
        <ul class="nav terms">
            <li class="nav-item">
              <a class="nav-link ">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms and condition</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">© 2022 wolits Inc.</a>
            </li>
          </ul>
    </div>  
</div>
