$bg-orange:orange;
$bg-black:black;
$b-Logo:url('../../../assets/images/Logo-black.png');
$w-Logo:url('../../../assets/images/Logo-white.png');
$w-PartnerLogo:url('../../../assets/images/partnerLogoWhite.png');
$b-PartnerLogo:url('../../../assets/images/partnerLogoBlack.png');

drop-bar{
  padding: 1em;
  background-color: grey;
  button{
    background-color: gray;
    border-bottom: 1px solid black;
  }
}


  .landing{
    background-color: $bg-orange;
    .spacer {
      flex: 1 1 auto;
    }
    .img{
      background-position: center;
      background-size: cover;
      background-image:$b-Logo;
      width: 200px;
      height:45px;
    }
    .login{
      background-color: white;
      color: $bg-black;
    }
    .signup{
      background-color: $bg-black;
      color: white;
    }

  }


  .userRegister{
    background-color: $bg-black;
    .hamburger{
      color: white;
    }
    .spacer {
      flex: 1 1 auto;
    }
    .img{
      background-position: center;
      background-size: cover;
      background-image:$w-Logo;
      width: 200px;
      height: 45px;
    }
  }


  .verifyPhone{
    background-color: $bg-black;
    .hamburger{
      color: white;
    }
    .spacer {
      flex: 1 1 auto;
    }
    .img{
      background-position: center;
      background-size: cover;
      background-image:$w-Logo;
      width: 200px;
      height: 45px;
    }
  }

  .verifyOtp{
    background-color: $bg-black;
    .hamburger{
      color: white;
    }
    .spacer {
      flex: 1 1 auto;
    }
    .img{
      background-position: center;
      background-size: cover;
      background-image:$w-Logo;
      width: 200px;
      height: 45px;
    }
  }

  .userLogin{
    background-color: $bg-black;
    .spacer {
      flex: 1 1 auto;
    }

    .hamburger{
      color: white;
    }

    .img{
      background-position: center;
      background-size: cover;
      background-image: $w-Logo;
      width: 200px;
      height: 45px;
    }
  }





  
  .partnerVerify ,.partnerOtp ,.partnerRegister ,.partnerLogin{
    background-color: $bg-black;
    .hamburger{
      color: white;
    }
    .spacer {
      flex: 1 1 auto;
    }
    .img{
      background-position: center;
      background-size: cover;
      background-image:$w-PartnerLogo;
      width: 150px;
      height: 45px;
    }
  }