mat-card{
    text-align: center;
    margin:10em 1em 5em;
    .close-btn{
        position:absolute;
        right: 0;
        top: 0;
        margin: 1em;
    }
}
.lati{
    width: 11em;
}
.bar{
   position: absolute;
   top: 40%;
   left: 40%;
}

mat-form-field {
    margin: 0 1em;
}

.upload{
    margin: 1em 1em;
}

.label{
    width: 12em;
}

textarea {
    height: 1em;
}
