mat-card{
    margin:10em 1em 5em;
}
.lati{
    width: 11em;
}
.bar{
   position: absolute;
   top: 40%;
   left: 40%;
}

mat-form-field {
    margin: 0 1em;
}

.upload{
    margin: 1em 1em;
}

.label{
    width: 12em;
}

textarea {
    height: 1em;
}

