mat-card{
    max-width: 700px;
    margin: 2em auto;
}

.header{
    display: flex;
    justify-content: space-between;
    h1 {
        font-weight: bold;
        margin: auto;
    }
}

span {
    font-weight: bold;
}

img{
width: 100%;
height:auto;
}